# -----------------------------
# Node.js
# -----------------------------
node_modules/
backend/server/node_modules/

# Logs
npm-debug.log*
*.log

# -----------------------------
# Build / Compiled files
# -----------------------------
*.exe
*.out
*.o
*.obj
backend/cpp/output.exe
backend/cpp/output

# -----------------------------
# Environment files
# -----------------------------
.env

# -----------------------------
# OS files
# -----------------------------
.DS_Store
Thumbs.db

# -----------------------------
# VS Code
# -----------------------------
.vscode/

# -----------------------------
# Optional (keep repo clean)
# -----------------------------
*.tmp
*.cache